*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: var(--text);
}

/* css variable */
:root{
    --primary:#c2fc9244;
    --secondary: gray;
    --text:black;
    --white: #fff;
    --black: #121010;
    --btn:  #5e5858;
}

.logo-design {
    text-transform: uppercase;
    font-size: 1.5rem;
    text-shadow:2px 5px 6px pink;
    -webkit-text-stroke: 2px #5d6544;
    transition: all 1s;
    display:inline-block;

}

.logo-design:hover {
    transform: rotate(180deg);
}

span {
    color:var(--black);
}

.a {
    color:lightgreen;
    font-size: 1.5rem ;
    font-weight: bolder;
}

.b {
     color:lightcoral;
     font-size: 2rem;
}

.c {
    color:rgb(50, 169, 205);
    font-size: 1.5rem;
    font-weight: bolder;
}

nav {
    width: 100%;
    height: 100px;
    background-color: var(--primary);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo{
    display: flex;
    align-items: center;
    gap:20px;
}

.nav-items{
    display:flex;
    gap:20px;
}

.nav-items a {
    padding: 4px 6px;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
}

.nav-items a:hover {
    background-color: var(--btn);
    color:var(--white);
}

.social-links {
    display: flex;
    gap:20px;
}

.active {
     background-color: var(--btn);
     color: var(--white);
}

.menu-icon {
    cursor: pointer;
    display:none;
}

.hero-section {
    width: 100%;
    min-height: calc(100vh - 100px);
    background: url(../photos/mount.jpg);
    background-size: cover;
    position: relative;
}

.circle {
    position: absolute;
    background-size: cover;
    background-position: center;
}

.circle1 {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    /* background: white; */
    top:50px;
    left:200px;
    background-image: url(../photos/John-Deere-Boys-Graphic-Fleece-Long-Sleeve-Hoodie-Sizes-4-18_9ffd561a-5693-4d17-86e7-529ae013e4a2.972a0d0bf9af4631120b77c1fbbcfcd8.jpeg);

}

.circle2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;
    top:100px;
    right:500px;
    z-index: 200;
}

.circle3 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: white;
    top: 60%;
    right: 60%;
}

.circle4 {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    background: white;
    top: 70%;
    left: 60%;
}

.hero-content {
    position: absolute;
    width: 500px;
    height: 350px;
    top:50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.375);
    transform: translate(-50%, -50%);
    backdrop-filter: blur(5px);
    z-index: 100;
}